<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <div class="hr-symbol hr-content">
          <div class="hr-line cyan"></div>
          <div><img src="img/symbol.png" class="symbol"></div>
          <div class="hr-line cyan"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>
          I am a Freelance Developer and Software Engineering Student with a strong foundation in Python and experience in back end tools such
          as Django, Flask and SQL.<br><br>

          Also, I am well-versed in software engineering tools and methodologies such as
          Docker, Git, CI/CD, Agile and RESTful APIs.
        </p>
      </div>
      <div class="col-lg-4">
        <p>
          In my free time I'm always trying to learn something new and do something that I haven't done.<br>
          <i><br>I may not know how to do everything. But I can do anything.</i><br><br>
          If you have a challenge for me I would love to hear from you!
        </p>
      </div>
    </div>
  </div>
</section>
